@use "src/style/variables.scss";
@use "src/style/general.scss";

header {
  z-index: 1;
  position: relative;
  //float: top;
  bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  & .blocLogo {
    padding: 1rem;
    background-color: var(--background-color);
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--body-color);
    & div {
      padding: 1rem;
    }
    img {
      max-width: 20rem;
    }
  }
}
