@use "src/style/variables";
@use "src/style/general";

header {
  z-index: 1;
  position: relative;
  bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  & .headerPhoto {
    width: 100%;
    z-index: 2;
    height: 100vh;
    position: relative;
    & img {
      width: 100%;
      position: absolute;
    }
  }
  & .blocLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 15%;
    }
  }
}
