.container {
  max-width: 1300px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--body-color);
  border-bottom: 1px, solid, transparent;
  padding: 0.5rem;
  margin: 0.5rem;
  &:hover {
    cursor: pointer;
    color: var(--body-color-bright);
    border-bottom: 1px, solid, var(--body-color-bright);
  }
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
p{
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: var(--body-ff);
  margin: 0;
  text-align: center;
}
body{
  font-size: var(--body-fs);
  font-family: var(--body2-ff);
  color: var(--body-color);
  background-color: var(--background-color);
}
.orange{
  color: var(--body-color-bright);
}