.container {
  max-width: 1300px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--body-color);
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
p{
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-family: var(--body-ff);
  margin: 0;
}
body{
  font-size: var(--body-fs);
  font-family: var(--body2-ff);
  color: var(--body-color);
  background-color: var(--background-color);
}