:root{
  font-size: 62.5%;
  --body-ff: "Big Shoulders Stencil Text";
  --titles-ff: "Foldit";
  --body2-ff: "Advent Pro";
  --body-color: #05F8FF;
  --body2-color: #072E2D;
  --background-color: black;
  --title1-fs: calc(5rem + 0.6vmin);
  --title2-fs: calc(4rem + 0.6vmin);
  --title3-fs: calc(2rem + 0.6vmin);
  --body-fs: calc(1.8rem + 0.6vmin);
}