@use "src/Style/general";
main {
  & .disclaimer {
    color: var(--body-color-bright);
  }
  & .buttons {
    display: flex;
    flex-direction: row;
  }
  & article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}