@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?pif4bi');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?pif4bi#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?pif4bi') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?pif4bi') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?pif4bi##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-speaker {
  &:before {
    content: $icon-speaker; 
  }
}
.icon-ipod {
  &:before {
    content: $icon-ipod; 
  }
}
.icon-drink {
  &:before {
    content: $icon-drink; 
  }
}
.icon-mug {
  &:before {
    content: $icon-mug; 
  }
}
.icon-drink1 {
  &:before {
    content: $icon-drink1; 
  }
}
.icon-cassette {
  &:before {
    content: $icon-cassette; 
  }
}
.icon-switch {
  &:before {
    content: $icon-switch; 
  }
}
.icon-vynil {
  &:before {
    content: $icon-vynil; 
  }
}
.icon-disk {
  &:before {
    content: $icon-disk; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-soundcloud {
  &:before {
    content: $icon-soundcloud; 
  }
}

