$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-speaker: "\e901";
$icon-ipod: "\e902";
$icon-drink: "\e903";
$icon-mug: "\e904";
$icon-drink1: "\e905";
$icon-cassette: "\e906";
$icon-switch: "\e900";
$icon-vynil: "\e907";
$icon-disk: "\e908";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-soundcloud: "\eac3";

