@use "src/Style/variables";

.main {
  font-size: var(--body-fs);
  color: var(--body-color);
  position: relative;
  background-color: var(--background-color);
  & .article{
    margin: 5rem;
  }
}
.headerPhoto {
  width: 100%;
  z-index: 2;
  height: 100vh;
  position: relative;
  & img {
    width: 100%;
    position: absolute;
  }
}